@charset "utf-8";
/* CSS Document */
body {
	position: relative;
	background:#fff;
	font-family: 'Raleway', sans-serif;
}
body, html {
	height: 100%;
}
h1, h2, h3, h4, h5, h6, p {
	line-height: normal;
	margin: 0;
	padding: 0;
}
*, body, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
	margin: 0;
	padding: 0;
}
.a-center {
	text-align: center;
}
img {
	max-width: 100%;
	display: inline-block;
}
* {
	outline: 0;
}
.clr {
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.block-box {
	display: inline-block;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	transition:0.3s;
}
a:hover {
	text-decoration: none;
	transition:0.3s;
}
.formmain {
	background: #DBDBDB;
	padding: 15px;
}
.uploadimg .btn-file {
    position: relative;
    overflow: hidden;
}
.uploadimg .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.uploadimg {
	margin: 0;
}
.uploadimg #img-upload{
	height: 100%;
	width: 195px;
}
.topheading {
	padding-top: 10px;
}
.topheading h1 {
	color: #ee9d00;
	font-size: 30px;
}
.topheading h2 {
	color: #1f497d;
	font-size: 30px;
}
.uploadimg .btn-file {
	color:#5C5C5C;
	text-align: center;
	font-size: 30px;
}
.uploadimg .input-group-btn {
	text-align: center;
	width: 100%;
}
.notebox p {
	font-size: 16px;
	color: #121212;
}
.notebox ul {
	margin-bottom: 15px;
}
.notebox ul li {
	font-size: 16px;
	color: #121212;
	list-style-position: inside;
	list-style-type: disc;
}
.notebox h2 {
	font-size: 25px;
	margin-bottom: 10px;
}
.form_1 {
	margin-top: 20px;
}
.form_1 h1 {
	font-size: 30px;
	text-align: center;
	color: #000;
	margin-bottom: 10px;
}
.form_1 h2 {
	font-size: 25px;
	color: #000;
	margin-bottom: 10px;
}
.form_1 label {
	font-weight: bold;
}
.form_1 .form-control {
	margin-bottom: 15px;
}
.form_1 ul {
	margin-bottom: 15px;
	border: 1px solid #000;
	padding: 20px;
	margin-top: 15px;
}
.form_1 ul li {
	font-size: 16px;
	color: #121212;
	list-style-position: inside;
	list-style-type: disc;
}
@media(max-width:991px){
.topheading {
	text-align: center;
}	
.notebox p {
	word-break: break-all;
}	
}