@charset "utf-8";
/* CSS Document */
body {
	position: relative;
	background:#fff;
	font-family: 'PT Sans', sans-serif;
}
html {
	scroll-behavior: smooth;
}
body, html {
	height: 100%;
}
h1, h2, h3, h4, h5, h6, p {
	line-height: normal;
	margin: 0;
	padding: 0;
}
*, body, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
	margin: 0;
	padding: 0;
}
.a-center {
	text-align: center;
}
img {
	max-width: 100%;
	display: inline-block;
}
* {
	outline: 0;
}
.clr {
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.block-box {
	display: inline-block;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	transition:0.5s;
}
a:hover {
	text-decoration: none;
	transition:0.5s;
}
.fonticon li {
    float: left;
    border: none !important;
}
.fonticon li a{
    border: none !important;
}
#content #sidebarCollapse {
	position: absolute;
	top: 10px;
	left: 10px;
	background: #fff;
	border: none;
	z-index: 99;
}
#content #sidebarCollapse i {
	color: #111;
}
#content .card {
	margin-bottom: 15px;
	margin-top: 15px;
}
.cardrow {
	margin-left: 0px;
	margin-right: 0px;
}
.card-text {
	margin-bottom: 10px;
}
.innercontant {
	padding: 40px 15px;
	text-align: center;
}
.innercontant h1 {
	font-weight: bold;
	color: #000;
	text-align: center;
	text-transform: uppercase;
}
.innercontant p {
	color: #353535;
}
.innercontant ul li {
	color: #353535;
	text-align: left;
	list-style-position: inside;
	list-style-type: circle;
}