@charset "utf-8";
/* CSS Document */
body {
	position: relative;
	background:#fff;
	font-family: 'Roboto', sans-serif;
}
html {
	scroll-behavior: smooth;
}
body, html {
	height: 100%;
}
h1, h2, h3, h4, h5, h6, p {
	line-height: normal;
	margin: 0;
	padding: 0;
}
*, body, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
	margin: 0;
	padding: 0;
}
.a-center {
	text-align: center;
}
img {
	max-width: 100%;
	display: inline-block;
}
* {
	outline: 0;
}
.clr {
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.block-box {
	display: inline-block;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	transition:0.5s;
}
a:hover {
	text-decoration: none;
	transition:0.5s;
}
#navigation .navbar {
	padding: 25px 15px;
	border-top: 6px solid #262261;
}
#navigation .navbar-expand-md .navbar-nav .nav-link {
	padding: 10px 12px;
	color: #231f20;
	text-transform: uppercase;
}
#navigation .btn-success {
	background: #ffdd18;
	border: none;
	border-radius: 35px;
}
#bannerwrepper .carousel-indicators li {
	background: #262261;
}
#bannerwrepper .carousel-indicators .active {
	background: #ffdd18;
}
.captionwrepper {
	position: absolute;
	top: 50%;
	text-align: center;
	transform: translateY(-50%);
	width: 100%;
}
.captionwrepper h1 {
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 40px;
	color: #262261;
	text-transform: uppercase;
}
.captionwrepper .btn-info {
	background: #ffdd18;
	border: none;
	font-size: 18px;
	font-weight: bold;
	padding: 12px 25px;
	text-transform: uppercase;
	color: #262261;
}
.about{
	background: #262261;
	padding: 20px;
}
.about h1{
	color: #fff;
	font-weight: bold;
	font-size: 35px;
}
#aboutwrepper {
	padding: 60px 0px;
	text-align: center;
	border-bottom: 6px solid #262261;
}
#aboutwrepper h1 {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 40px;
	color: #231f20;
	text-transform: uppercase;
}
#aboutwrepper p {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 40px;
	color: #231f20;
}
#our{
	margin: 50px 0px;
}
#our .bord{
	background: #f1f1f2;;
	border: 1px solid #59595a;
	padding: 0;
	margin:10px auto;

}
.bord h1{
	text-align: center;
	font-size: 27px;
	color: #231f20;
	text-transform: uppercase;
	border-bottom: 1px solid #313030;
	padding: 20px;
}
.bord p{
	color: #231f20;
	text-align: center;
	font-size: 15px;
	text-transform: capitalize;
	padding:20px 30px;
}

.whychoose {
	padding: 50px 0px;
	text-align: center;
	border-bottom: 6px solid #262261;
}
.whychoose h1 {
	font-size: 50px;
	font-weight: bold;
	color: #231f20;
	margin-bottom: 50px;
	text-transform: uppercase;
}
.whybox1 {
	padding: 20px;
	margin-bottom: 20px;
	background: #f1f1f2;
	min-height: 320px;
	text-align: center;
	border: 1px solid #262261;
}
.whybox1 h2 {
	padding: 30px 0px;
	font-size: 20px;
	font-weight: bold;
	color: #231f20;
}
.whybox1 p {
	font-size: 16px;
	font-weight: bold;
	color: #231f20;
}
.whychoose .btn-info {
	background: #ffdd18;
	border: none;
	font-size: 28px;
	font-weight: bold;
	margin-top: 40px;
	padding: 12px 25px;
	text-transform: uppercase;
	color: #262261;
}
#ourheading {
	padding: 30px 0px;
	background: #262261;
	text-align: center;
}
#ourheading h1 {
	font-size: 54px;
	font-weight: bold;
	color: #fff;
}#ourservices {
	padding: 50px 0px;
	border-bottom: 6px solid #262261;
}
.servicebox1 {
	border: 1px solid #262261;
	border-radius: 16px;
	margin: 25px 0px;
}
.servicebox1 h2 {
	background: #262261;
	text-align: center;
	font-size: 30px;
	padding: 10px;
	border-radius: 0px 0px 15px 15px;
	font-weight: bold;
	color: #fff;
	height: 85px;
}
.servicebox1 h2 a {
	color: #fff;
}
.servicebox1 img {
	border-radius: 15px 15px 0px 0px ;
	width: 100%;
}
#ourservices .btn-info {
	background: #ffdd18;
	border: none;
	font-size: 28px;
	font-weight: bold;
	margin-top: 40px;
	padding: 12px 25px;
	text-transform: uppercase;
	color: #262261;
}
#callnow {
	padding: 50px 0px;
	background: #262261;
	text-align: center;
}
#callnow h1 {
	font-size: 50px;
	color: #fff;
	font-weight: normal;
	padding-bottom: 40px;
}
#callnow h2 {
	font-size: 30px;
	color: #fff;
	font-weight: normal;
}
#callnow .btn-info {
	background: #fff;
	border: none;
	font-size: 28px;
	font-weight: bold;
	margin-top: 40px;
	padding: 12px 25px;
	text-transform: uppercase;
	color: #262261;
}
footer {
	padding: 50px 0px;
	background: #f1f1f2;
}
footer h1 {
	font-size: 30px;
	font-weight: bold;
	color: #262262;
	margin-bottom: 20px;
}
footer p {
	font-size: 18px;
	color: #58595b;
	margin-bottom: 12px;
}
footer p a {
	color: #58595b;
}
footer ul li {
	float: left;
}
#smallfooter {
	background: #262261;
	padding: 20px 10px;
	color: #fff;
	font-size: 18px;
	text-align: center;
}

#innerwreper h1 {
	padding: 20px;
	color: #fff;
	background: #262261;
	font-weight: bold;
	margin-bottom: 30px;
	font-size: 34px;
	text-align: center;
}
#innerwreper ul {
	background: #262261;
}
#innerwreper ul li {
	border-bottom: 1px solid #fff;
	font-size: 18px;
}
#innerwreper ul li a {
	color: #fff;
	padding: 10px;
	display: block;
}
#innerwreper h2 {
	font-size: 22px;
	font-weight: bold;
	color: #231f20;
	margin-bottom: 20px;
}
#innerwreper p {
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	color: #231f20;
	margin-bottom: 20px;
}
#innerwreper img {
	margin-bottom: 20px;
}
.plumb{
	background: #272264;
	padding: 10px;
	margin-bottom: 20px;
}
.plumb h3{
	color:#fff;
	text-align: left;
}
.back{
	background:#272264;
	border-radius: 10px;
	text-align: center;
	border: 1px solid #272264;
	padding:20px;
}
.back h3{
	padding: 0;
	color:#fff;
	font-size: 17px;
}
.cm{
	margin: 10px 0px;

}
.cm .btn-light{
	margin: 10px;
}
.back:hover{
	box-shadow: 1px 1px 10px 4px #7e7979;
	transform: scale(1,1);
	
}
.back:hover .btn-light{
	display: inherit;
	
}
#contact{
	margin-top: 50px;
}
#con-form{
	background: #d8d8de;
	padding: 20px;
	margin-bottom: 20px;
}
#contact p{
	color: #231f20;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 50px;
}
.btn-primary{
	border-radius: 10px;
	width: 200px;
}
.form-group label{
	font-size: 16px;
	color: #231f20;
	font-weight: bold;
	margin-left:10px; 
}
#profile .row{
	background: #262261;
	margin: 50px 0px;
	padding: 20px;
}
.pic{
	padding: 40px 20px;
	text-align: center;
}
.pic h1{
	color: #231f20;
	font-size: 25px;
	font-weight: bold;
	margin: 20px 0px 0px 0px;
}
.pic p{
	color: #231f20;
	font-size: 15px;
	font-weight: bold;
	margin:10px 0px 0px 0px;
}
.pic img{
	border-radius: 51%;
}
.colfoot{
	padding: 20px;
	background: #be1e2d;
	text-align: center;
	color: #fff;
	margin-bottom: 10px;
}
.colfoot p{
	font-size: 20px;
	font-weight: 400;
}
.white{
	background: #fff;
}
.inner{
	background: url(../images/innerbaner2.png);
	background-size: cover;
	padding: 126px 0px;
}
.discription{
	background: #fff;
	padding: 20px;
}
.discription h1{
	color: #231f20;
	font-weight: bold;
	font-size: 25px;
}
.discription p{
	color: #231f20;
	font-weight:400;
	font-size: 15px;
	margin: 20px 0px;
}
.discription h2{
	color: #231f20;
	font-weight:400;
	font-size: 15px;

}
.discription h3{
	color: #231f20;
	font-weight:400;
	font-size: 15px;
	margin: 20px 0px;
}
#aboutarea{
	padding: 50px 0px;
}
.point h1{
	font-size: 40px;
	color: #000;
	text-decoration: underline;
	margin-top: 30px;

}
.point h2{
	font-size: 20px;
	color: #000;
	margin-bottom: 20px;
}
.logo-1{
	text-align: center;
	margin: 20px 0px;
}
.logo-1 p{
	font-size: 20px;
	margin: 10px 0px;
}
.point ul li{
	font-size: 20px;
}

@media(max-width:767px){
.captionwrepper h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #262261;
    text-transform: uppercase;
}	
#callnow h1 {
    font-size: 30px;
    color: #fff;
    font-weight: normal;
    padding-bottom: 40px;
}	
}
@media (max-width: 425px){
	#ourservices .btn-info{
		font-size: 18px;
	}
	.whychoose .btn-info {
		font-size: 18px;
	}
	.whychoose h1{
		font-size: 25px;
	}
	#ourheading h1{
		font-size: 40px;
	}
}